<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://drive.google.com/open?id=1rgToKNj-bSb8-ngQaB3HmxsGaYRIFoQA</string>
		<key>displayImageURL</key>
		<string>https://drive.google.com/file/d/1fx1etriBP7dwrzmkmsNZah-fHK5lmK5R/view</string>
		<key>fullSizeImageURL</key>
		<string>https://drive.google.com/file/d/1YZskB9YzaXlbopTfCw5v5nwzEOrkNVR3/view</string>
	</dict>
	<key>method</key>
	<string>enterprise</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.accudata.GroupInformation</key>
		<string>GroupInformation</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>2C993BBH4P</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
